<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">New Note</h1>
    <i class="ion-ios-close-outline model-close" ng-click="closeCreateNote()"></i>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doCreateNote()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Title</span>
          <input type="text" ng-model="newNote.title">
        </label>
        <label class="item item-input">
          <span class="input-label">body</span>
          <textarea  class="card-text-area" ng-model="newNote.body"></textarea>
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Create</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
