<ion-view view-title="Notes">
  <ion-content>
    <div class="list list-inset" ng-show="notes">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" ng-model="searchText" placeholder="Search">
      </label>
    </div>
    <p class="large-title hello-message" ng-show="!notes">Welcome! Once you create your notes, they will appear here!</p>
    <button class="button button-block button-positive" ng-show="!notes" ng-click="login()" type="submit">Login</button>
    <button class="button button-block button-positive" ng-show="!notes" ng-click="register()" type="submit">Register</button>
  <ion-list>
    <ion-item ng-repeat="note in notes | filter: searchText" href="#/app/notes/{{$index}}" ng-show="!note.archive">
      {{note.title}}
      <div class="date-notes-menu">{{formatDate(note.date)}}</div>
    </ion-item>
  </ion-list>
  </ion-content>
</ion-view>
