/* Empty. Add your own CSS if you like */

.model-close {
  float: right;
  position: absolute;
  text-align: right;
  right: 10px;
  top: 7px;
  font-size: 30px;
}

.date-notes-menu {
  font-size: 80%;
}

.title-text-area {
  width: 100%;
  resize: none;
}

.margin-note-text {
  margin-left: 12px;
  margin-right: 12px;
}

.hello-message {
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

.card-text-area {
  width: 100%;
  height: 100%;
  /*max-width: 620px;*/
  min-height: 200px;
  margin-bottom: 20px;
  resize: none;
  font-size: 18px;
}

.large-title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 25px;
}

.blue-text {
  color: #387ef5;
}

.red-text {
  color: #d14;
}

.button-border-bottom {
  /*border-width: 2px;*/
  border-bottom-width: 2px;
  border-bottom-color: #111;
  border-bottom-style: solid;
}

.background-blue-footer {
  background-color: #387ef5;
  border-color: #387ef5;
  color: #fff;
}
