/* Empty. Add your own CSS if you like */
.model-close {
  float: right;
  position: absolute;
  text-align: right;
  right: 10px;
  top: 7px;
  font-size: 30px;
}

.card-text-area {
  width: 100%;
  height: 100%;
  /*max-width: 620px;*/
  min-height: 200px;
  margin-bottom: 20px;
  resize: none;
}
